<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebServer with NodeJs</title>
    <link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet"> 

    
</head>
<body>
    <div class="container-fluid">
        <div id="titleApp" class="row justify-content-center mt-2 mb-2 pt-2 pb-2">
            <div class="col-12 text-center">
                <h1>{{ cityName }},&nbsp;{{ countryName }}</h1>
            </div>        
        </div>

        <div id="datas" class="row justify-content-center mt-1 mb-1 pt-1 pb-1">
            <div class="col-12 col-md-6 text-center textRes">
                <p>Longitud:&nbsp&nbsp{{long}}<br>Latitud:&nbsp&nbsp{{lat}}</p>  
            </div> 
            <div class="col-12 col-md-6 text-center textRes">
                <p>Weather stat:&nbsp{{ weatherM }}<br>Description:&nbsp{{ weatherD }}</p>
            </div>
        </div>

        <div id="datas" class="row justify-content-center mt-1 mb-1 pt-2 pb-2">
            <div class="col-12 text-center textRes">
                <p>Current Temperature:&nbsp;&nbsp;{{ currentTemp }}&#8451;</p>
            </div>
        </div>

        <div id="datas" class="row justify-content-center mt-1 mb-1 pt-2 pb-2">
            <div class="col-12 text-center textRes">
                <p>Wind speed:&nbsp;&nbsp;{{ windSpeed }}</p>
            </div>
        </div>

        <div id="datas" class="row justify-content-center mt-1 mb-1 pt-2 pb-2">
            <div class="col-12 text-center textRes">
                <p>Feels like:<br>{{ feelTemp }}&#8451;</p>
            </div>
        </div>

        <div id="datas" class="row justify-content-center mt-1 mb-1 pt-2 pb-2">
            <div class="col-12 col-md-6 text-center textRes">
                <p>Temp min:&nbsp;&nbsp;{{ minTemp }}&#8451;</p>
            </div>
            <div class="col-12 col-md-6 text-center textRes">
                <p>Temp max:&nbsp;&nbsp;{{ maxTemp }}&#8451;</p>
            </div>
        </div>

        <div id="datas" class="row justify-content-center mt-1 mb-1 pt-2 pb-2">
            <div class="col-12 col-md-6 text-center textRes">
                <p>Pressure:&nbsp;&nbsp;{{ pressure }}&nbsp;hPa</p>
            </div>
            <div class="col-12 col-md-6 text-center textRes">
                <p>Humidity:&nbsp;&nbsp;{{ humidity }}&nbsp;%</p>
            </div>
        </div>

        <footer class="row justify-content-center">
            <div class="col-12 text-center mt-1 mb-1">
                Jorge Agoiz - 2020
            </div>        
        </footer>

            
    </div>

        
        


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="styles.css">
</body>